sudo: required

services:
 - docker

before_install: # we use test Dockerfile to download all dependancy 
 - docker build -t bashayer/react-test -f ./client/Dockerfile.dev ./client

script:
 - docker run -e CI=true bashayer/react-test npm run test

after_success: #after test exist with 0
 - docker build -t bashayer/multideploy-client ./client
 - docker build -t bashayer/multideploy-nginx ./nginx
 - docker build -t bashayer/multideploy-server ./server
 - docker build -t bashayer/multideploy-worker ./worker
 #login to docker CLI
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
 #take those images and push them to docker hub
 - docker push brugaibah/multideploy-client
 - docker push brugaibah/multideploy-nginx
 - docker push brugaibah/multideploy-server
 - docker push brugaibah/multideploy-worker


